/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: "Varela Round", sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-footer {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5;
  max-height: 5vh;
  min-height: 5vh;
  width: 100%;
  background-color: slategrey;
}

.footer-inner {
  padding-top: 1vh;
  color: white;
}

p {
  font-size: 0.95em;
}

a {
  color: #093a58;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

.ltr_holder,
.order_column {
  width: 100vw;
}

.title,
.text {
  text-align: center;
  font-size: 2vh;
  width: 100%;
  line-height: 1em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and all newer browsers */
  pointer-events: none;
}

.letter > img,
.letter > .image_line > img {
  max-height: 100%;
  margin: 0 auto;
  justify-self: center;
}

.image_line {
  height: 8vh;
  max-height: 8vh;
  text-align: center;
}


/* .new_order, */
.button {
  font-size: 2vh;
  border-radius: 20px;
  border:none;
  height: 100%;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0 auto;
}

.button {
  width: 30vw;
  padding-right: 2vw;
  height: 5vh;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100vh;
  background-color: rgba(245, 247, 251, 1);
}

.ltr_holder {
  max-height: 90vh;
  min-height: 90vh;
}

.section_title {
  font-family: cursive;
  font-size: 4vh;
  line-height: 8vh;
  color: white;
  background-color: rgb(238, 141, 50);
  max-height: 8vh;
  min-height: 8vh;
  padding-left: 2vw;
}

.animal_list_section {
  order: -5;
  /* flex: 0 0 100%; */
  flex-wrap: wrap;
  display: flex;
  min-height: 84vh;
  max-height: 84vh;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  justify-content: flex-start;
  padding-right: 1vw;
  padding-left: 1vw;
  background-color: rgba(245, 247, 251, 1);
}


.letter{
	flex: 0 30vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 0.5vh;
  max-height: 30vh;
  min-width: 100px;
  justify-content: space-evenly;
  border: 2px solid cornflowerblue;
  transition: all .07s ease;
}


.playing {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(25vw,25vh); /* Standard syntax */
  transform: scale(1.9);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

#ltr_holder_title {
  order: -6;
  flex: 1 0 100%;
}

.animal_list_section::-webkit-scrollbar,
.order_list_section::-webkit-scrollbar {
  display: none;
}

/* Payment section */


button.button {
  background-color: #426de2;
  color: #fff;
}

button.new {
  background-color: #5cb85c;
}

button.refund {
  background-color: orange;
}


/* ================================= 
  Media Queries
==================================== */

@media (orientation: landscape) {
  body {
    font-size: 0.8em;
    line-height: 0.8em;
  }

  .main-header,
  .main-nav {
    width: 100%;
    display: flex;
  }


  
.letter {
  flex: 0 20vw;
}

  /* .main-header {
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
  } */

  .ltr_holder {
    max-height: 90vh;
    min-height: 90vh;
    width: 100vw;
  }
  
  .animal_list_section {
    order: 0;
    flex: initial;
    min-width: 100vw;
    max-width: 100vw;
    background-color: transparent;
  }



  /* .new_order, */
  .button {
    flex: initial;
    font-size: 2.5vh;
    border-radius: 20px;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 225px;
  }

  /* .icon-bar a {
    font-size: 8vh;
  } */

  /* .main-header {
    max-height: 13vh;
    border-bottom: #ccc solid 3vh;
  } */

  
}

/* modal styles */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

#modal {
  display: none;
  width: 50%;
  line-height: 3em;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: #fff;
  border: #426de2 3px solid;
  border-radius: 20px;
  text-align: center;
  z-index: 11;
}

#modal_X {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 5%;
  width: 100%;
  text-align: right;
}

#order_Completed, #new_Order {
	display: none;
}

.modal_message {
  padding:0 5%;
  
}

.clearBut {  
  margin-left: 3%;
  width: 40%;
  height: 100%;
  color: #fff;
  font-size: 2.5vh;
  border-radius: 20px;
  border:none;
  padding: 1vh 1vw;
}

.yesBut {
  background-color: #5cb85c;
}

.noBut {
  margin-left: 3%;
  width: 40%;
  height: 100%;
  background-color: coral;
  color: #fff;
  font-size: 2.5vh;
  border-radius: 20px;
  border:none;
  padding: 1vh 1vw;
}


.modalButtons{
  text-align:center;
}

.modal_message a {
    text-decoration: underline;
  }

@media (orientation: landscape) {
  .modalText {
    font-size: 3vh;
    line-height: 3vh;
  }

  .modal_message h1 {
    font-size: 5vh;
  }

  .modal_message a {
    font-size: 2vh;
  }
}

@media (orientation: portrait) {
  .modalText {
    font-size: 3vw;
    line-height: 3vw;
  }

  .modal_message h1 {
    font-size: 3vw;
  }

  .modal_message a {
    font-size: 2vw;
  }
}





.disable {
  pointer-events: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%), blur(20%);
  background-color: #ccc;
}
