/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: "Varela Round", sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-footer {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5;
  max-height: 5vh;
  min-height: 5vh;
  width: 100%;
  background-color: slategrey;
}

.footer-inner {
  padding-top: 1vh;
  color: white;
}

p {
  font-size: 0.95em;
}

a {
  color: #093a58;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

.ltr_holder,
.order_column {
  width: 100vw;
}

.title,
.text {
  text-align: center;
  font-size: 2vh;
  width: 100%;
  line-height: 1em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and all newer browsers */
  pointer-events: none;
}

.letter > img,
.letter > .image_line > img {
  max-height: 100%;
  margin: 0 auto;
  justify-self: center;
}

.image_line {
  height: 8vh;
  max-height: 8vh;
  text-align: center;
}

#animal_card div.image_line {
  height: 30vh;
  text-align: center;
  max-height: unset;
}

#animal_card div.image_line > img {
  height: 30vh;
  text-align: center;
}

.letter div.image_line {
  height: 100px;
  max-height:40vh;
  text-align: center;
  display:block;
}

#animal_card p{
  margin:0;
  padding-top:5vh;
  padding-bottom:5vh;
  font-size: 5rem;
  font-weight:800;
}

#animal_card p.title{
  padding-top:5vh;
  padding-bottom:5vh;
  font-size: 5rem;
}



.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100vh;
  background-color: rgba(245, 247, 251, 1);
}

.ltr_holder {
  max-height: 90vh;
  min-height: 90vh;
}

.section_title {
  font-family: cursive;
  font-size: 4vh;
  line-height: 8vh;
  color: white;
  background-color: rgb(238, 141, 50);
  max-height: 8vh;
  min-height: 8vh;
  padding-left: 2vw;
}

.animal_list_section {
  order: -5;
  /* flex: 0 0 100%; */
  flex-wrap: wrap;
  display: flex;
  min-height: 84vh;
  max-height: 84vh;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  justify-content: center;
  padding-right: 1vw;
  padding-left: 1vw;
  background-color: rgba(245, 247, 251, 1);
}


.letter{
	flex: 0 30vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 0.5vh;
  max-height: 30vh;
  min-width: 100px;
  justify-content: space-evenly;
  border: 2px solid cornflowerblue;
  transition: all .07s ease;
}

#ltr_holder_title {
  order: -6;
  flex: 1 0 100%;
}

.animal_list_section::-webkit-scrollbar,
.order_list_section::-webkit-scrollbar {
  display: none;
}

/* Payment section */


button.button {
  background-color: #426de2;
  color: #fff;
}

button.new {
  background-color: #5cb85c;
}

button.refund {
  background-color: orange;
}


/* ================================= 
  Media Queries
==================================== */

@media (orientation: landscape) {
  body {
    font-size: 0.8em;
    line-height: 0.8em;
  }

  .main-header,
  .main-nav {
    width: 100%;
    display: flex;
  }


  
.letter {
  flex: 0 20vw;
}

  /* .main-header {
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
  } */

  .ltr_holder {
    max-height: 90vh;
    min-height: 90vh;
    width: 100vw;
  }
  
  .animal_list_section {
    order: 0;
    flex: initial;
    min-width: 100vw;
    max-width: 100vw;
    background-color: transparent;
  }



  /* .new_order, */
  .button {
    flex: initial;
    font-size: 2.5vh;
    border-radius: 20px;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 225px;
  }

  /* .icon-bar a {
    font-size: 8vh;
  } */

  /* .main-header {
    max-height: 13vh;
    border-bottom: #ccc solid 3vh;
  } */

  
}

/*  modal styles  */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

#overlay{
  background:rgba(0,0,0,0.8);
  bottom:0;
  left:0;
  opacity:1;
  pointer-events:none;
  position:fixed;
  right:0;
  top:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index:1;
  display: none;
  }

  #overlay:target{
    display: block;
    opacity:1;
    pointer-events:auto;
    z-index:99999;
  }

  #modal{
    display:flex;
    background-color:white;
    min-height: 50%;
    min-width:50%;
    width:75%;
    height:75%;
    margin:auto; 
    position: relative;
    padding:3em;
    -webkit-overflow-scrolling: touch;
    /* @media (min-width: 60em) {
      height:75%;
  	  margin:5% auto;
  	  max-height: 57em;
      max-width:66em;
      width:85%;
  	} */
	}
/* 
  #modal_X{
    background-color:turquoise;
    color:white;
    font-size:24px;
    padding:8px 12px;
    position:absolute;
    right:0;
    text-align:center;
    text-decoration:none;
    top:0;
    z-index: 1;
  } */

  @media (min-width: 1981px) {
    .slick-slide img {
        display: block;
        width: 100%;  // fallback if fill -available isn't usable by browswer
        width: -webkit-fill-available; 
    }
   }  
    

  .modal-container{
  display: grid;
  width: 75vw;
  height: 75vh;
  margin: 0 auto;
  filter: drop-shadow(0 2px 0 rgba(0,0,0,.15) );
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-gap: 10px;
  grid-template-areas: "... ... ... close"  "insides insides insides insides" ;
  }

.modal{
  background: #333;
  background-position: center top;
  background-size: cover;
  border-radius: 15px;
  display: block;
  width: 75vw;
  height: 75vh;
  grid-column: 1 / 5;
  grid-row: 1 / 6;

  z-index: -1;
}

insides {
  grid-area: insides;
  background: white;
  border-radius: 15px;
  margin: 1em;
  padding: 1em;
  
  height: 75vh;
  box-shadow: 0 2px 0 rgba(0,0,0,.08) ;
  h2{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 0;
  }
  
.close{
  grid-area: close;
  background: #e95950;
  opacity: .7;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  margin-top: 1em;
  justify-self: right;
  transform: opacity 250ms ease;
  svg
    fill: white;
    height: 18px;
    width: auto;
  &:hover
    opacity: 1;
}